{{#if success}}
<div>
    <p>CART ID : {{docs.0._id}} </p>
    {{#each docs}}
    <div>
        {{#each this.products}}
        <div>
            <p>Titulo : {{this.products.title}} </p>
            <p>Descripción : {{this.products.description}} </p>
            <p>Codigo : {{this.products.code}} </p>
            <p>Estado : {{this.products.status}} </p>
            <p>Precio : {{this.products.price}} </p>
            <p>Stock : {{this.products.stock}} </p>
            <p>Categoria : {{this.products.category}} </p>
            <p>Cantidad : {{this.quantity}} </p>
        </div>
        <p>-----------------------------------------------</p>
        {{/each}}
    </div>
    {{/each}}
</div>
{{else}}
<h1>Carro</h1>
{{/if}}